.invoice table {
    background: white;
    width: 100%;
}

.invoice tr,
.invoice th {
    color: black !important;
}

.invoice tr {
    border-radius: 5px;
    background: white;
}

.invoice thead {
    border-top: solid 1px black !important;
    border-bottom: solid 1px black !important;
}

.invoice-spp p {
    /* margin: 0; */
    margin-bottom: -40;
}

.invoice-spp h5 {
    margin: 0;
}
